<nav class="container">
    <div class="burger">
        <div class="line1 text-primary"></div>
        <div class="line2 text-primary"></div>
        <div class="line3 text-primary"></div>
    </div>
  <ul class="nav-links">
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/blog?page=1">BLOGS</a></li>
      <li><a href="/">HOME</a></li>
      <li style="float:left"><a href="/"><img src="/logo/logo.png" alt="logo"></a></li>
  </ul>
</nav>