<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('_header_') %>
    <link href="/css/blogStyle.css" rel="stylesheet">
    <title>Read Blog</title>
</head>

<body class="container">
    <div class="body mt-3">
    <nav>
        <div class="burger">
            <div class="line1 text-primary"></div>
            <div class="line2 text-primary"></div>
            <div class="line3 text-primary"></div>
        </div>
        <ul class="blog-nav">
            <li class="mr-3 mb-2"><a href="/">HOME</a></li>
            <li class="mr-3 mb-2"><a href="/blog?page=1">BLOGS</a></li>
            <li class="mr-3 mb-2"><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
    <div class="blog-body mt-3">
        <h2 class="mb-1 text-info"> <%= blog.title %> </h2>
        <div class="text-muted mb-4">
            <%= blog.createdAt.toLocaleDateString("en-BD", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>
        </div>
        <div class="blog text-light mb-5">
            <%- blog.sanitizedHtlml %>
        </div>
    </div>

    <script src="/scripts/showBlogNav.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    </div>
</body>
</html>
